* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
}

nav {
    padding: 20px;
    background-color: rgb(88,88,88);
    box-shadow: 1px 1px 1px 1px rgb(44,44,44);
}

.nav-link {
    margin: auto 20px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 2px solid white;
}

/* .clicked-link {
    border-bottom: 2px solid white;
} */

label {
    margin: auto 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    max-width: 300px;
    margin: 10px;
}

.button {
    background-color: rgb(88,88,88);
    color: white;
    border-radius: 5px;
}